[Unit]
Description=Listens and forwards Slack Messages
After=network-online.target
OnFailure=unit-failed@%n

[Service]
Type=simple
ExecStart=/usr/bin/python3 -m smsgateway.sources.slack
User=smsd
Restart=always
RestartSec=20
StartLimitInterval=300
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
